html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.messages {
  height: 440px;
  overflow-y: scroll;
}

.message__form {
  bottom: 1em;

  left: 0;
  right: 1em;
  z-index: 200;
}
